<ion-view hide-nav-bar="true">
    <!--<ion-content>-->
        <ion-slide-box on-slide-changed="onSlideChanged()" class="tour">
            <ion-slide>
               <div><img src="images/tour1.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div><img src="images/tour2.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div><img src="images/tour3.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="enter">
                    <img src="images/tour4.jpg"/>
                    <div class="btn4"><a class="button button-assertive" href="#tabs/home">立即体验</a></div>
                </div>
            </ion-slide>
        </ion-slide-box>
    <!--</ion-content>-->
</ion-view>