<ion-view hide-nav-bar="true">
    <ion-content>
        <div class="bg"><div><a href="#"><img src="images/touxiang.jpg"><p>果果</p></a></div></div>
        <div class="list">
        <div class="dingdan item"><a href="#"><img src="images/dingdan.png"/><span>我的订单</span></a></div>
        </div>
        <div class="row usericon">
            <div class="col">
                <div class="box1"><a href="#"><img src="images/user1.png"><span>待付款</span></a></div>
            </div>
            <div class="col">
                <div class="box1"><a href="#"><img src="images/user2.png"><span>待发货</span></a></div>
            </div>
            <div class="col">
                <div class="box1"><a href="#"><img src="images/user3.png"><span>待收货</span></a></div>
            </div>
            <div class="col">
                <div class="box1"><a href="#"><img src="images/user4.png"><span>已完成</span></a></div>
            </div>
        </div>
        <div class="row usericon">
            <div class="col">
                <div class="box1"><a href="#"><img src="images/user5.png"><span>我的收藏</span></a></div>
            </div>
            <div class="col">
                <div class="box1"><a href="#"><img src="images/user6.png"><span>我的评论</span></a></div>
            </div>
            <div class="col">
                <div class="box1"><a href="#"><img src="images/user7.png"><span>收件箱</span></a></div>
            </div>
            <div class="col">
                <div class="box1"><a href="#"><img src="images/user8.png"><span>系统消息</span></a></div>
            </div>
        </div>
        <div class="list">
        <div class="dingdan item"><a href="#"><img src="images/self-icon01.png"/><span>个人信息</span></a></div>
        <div class="dingdan item"><a href="#"><img src="images/self-icon04.png"/><span>地址管理</span></a></div>
            <div class="dingdan item"><a href="#"><img src="images/self-icon011.png"/><span>修改密码</span></a></div>
        </div>
        <div class="btn"><a href="#tabs/login"><i class="button button-assertive">退出</i></a></div>
    </ion-content>
</ion-view>