<ion-view view-title="商品详情">
    <ion-content>
        <ion-slide-box auto-play="true" does-continue="true" show-pager="true" id="banner">
            <ion-slide>
                <div class="box"><a href="#"><img src="images/detail1.png" /></a></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><a href="#"><img src="images/detail2.png" /></a></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><a href="#"><img src="images/detail3.png" /></a></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><a href="#"><img src="images/detail4.png" /></a></div>
            </ion-slide>
        </ion-slide-box>
        <p>linjou七夕聚爱品牌团收腰 修身 高腰 百搭 简约 甜美 百褶背心 a字无袖 连衣裙子 夏小清新（每个ID限购5件）</p>
        <div class="price">商城价格：179￥</div>
        <div class="mediamiddle-select clearfix">
            <div class="left">
                <p>选择尺码：</p>
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">S</a><img src="images/redjiao_03.jpg"></li>
                    <li><a href="#">M</a><img src="images/redjiao_03.jpg"></li>
                    <li><a href="#">L</a><img src="images/redjiao_03.jpg"></li>
                    <li><a href="#">XL</a><img src="images/redjiao_03.jpg"></li>
                </ul>
            </div>
        </div>
        <div class="number clearfix">
            <p>数量：</p>
            <div>
            <button type="button">-</button>
            <input type="text" value="1"/>
            <button type="button">+</button>
            </div>
        </div>
        <div class="card tuwen">图文详情</div>
        <div class="bigpic"><img src="images/d1.jpg"></div>
    </ion-content>

</ion-view>