<ion-tabs class="tabs-assertive tabs-icon-top">
    <ion-tab title="首页" icon-on="ion-android-home" icon-off="ion-android-home" ui-sref="tabs.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="分类" icon-on="ion-tshirt" icon-off="ion-tshirt-outline" ui-sref="tabs.classify">
        <ion-nav-view name="tab-classify"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购物车" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" ui-sref="tabs.shopping">
        <ion-nav-view name="tab-shopping"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人中心" icon-on="ion-android-person" icon-off="ion-android-person" ui-sref="tabs.user">
        <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>
</ion-tabs>